<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.mapper.CourseMapper">

    <resultMap type="com.core.entity.Course" id="CourseResult">
        <result property="id" column="id"/>
        <result property="num" column="num"/>
        <result property="name" column="name"/>
        <result property="score" column="score"/>
        <result property="imgUrl" column="img_url"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectCourseVo">
        select id, num, name, score, img_url, remark, create_time from course
    </sql>

    <select id="selectCourseList" parameterType="com.core.entity.Course" resultMap="CourseResult">
        <include refid="selectCourseVo"/>
        <where>
            <if test="num != null ">
                and num = #{num}
            </if>
            <if test="name != null  and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="score != null ">
                and score = #{score}
            </if>
            <if test="imgUrl != null ">
                and img_url = #{imgUrl}
            </if>
            <if test="createTime != null ">
                and create_time = #{createTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectCourseById" parameterType="Long" resultMap="CourseResult">
        <include refid="selectCourseVo"/>
        where id = #{id}
    </select>

    <insert id="insertCourse" parameterType="com.core.entity.Course" useGeneratedKeys="true" keyProperty="id">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null">
                num,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null">
                #{num},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="score != null">
                #{score},
            </if>
            <if test="imgUrl != null">
                #{imgUrl},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateCourse" parameterType="com.core.entity.Course">
        update course
        <trim prefix="SET" suffixOverrides=",">
            <if test="num != null">
                num = #{num},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCourseById" parameterType="Long">
        delete from course where id = #{id}
    </delete>

    <delete id="deleteCourseByIds" parameterType="String">
        delete from course where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
